{% extends "cedial/gestione/gestione.html" %}

{% block pagina %}
    <div class="titolo">Cambio password</div>

    {% if testo == '' %}
        <form action="" method="post">{% csrf_token %}
            {% for field in form %}
                <div class='criterio'>{{ field.label_tag }}</div>{{ field }} {{ field.errors }}
            {% endfor %}

            <div class="barra_pulsanti">
                <input class="button" type="submit" value="Cambia Password" />
            </div>
        </form>
    {% else %}
        {{ testo }}
    {% endif %}
{% endblock %}

