{% extends "cedial/gestione/gestione.html" %}

{% block pagina %}
    {% if azione == 'nuovo' %}
        <div class="titolo">Nuovo paziente</div>
    {% else %}
        <div class="titolo">Paziente {{ paziente.nome }} {{ paziente.cognome }}</div>
    {% endif %}

    {% if testo == '' %}
        <form action="" method="post">{% csrf_token %}
            {% for field in form %}
                <div class='linea'>
                    <div class='label'>{{ field.label_tag }}</div>
                    <div class='input'>{{ field }}
                        <div class='error'>{{ field.errors }}</div>
                    </div>
                </div>
                <br/>
            {% endfor %}

            <div class="barra_pulsanti">
                {% if azione == 'nuovo' %}
                    <input class="button" type="submit" value="Crea paziente" />
                {% else %}
                    <input class="button" type="submit" name="modifica" value="Modifica paziente" />
                    <input class="button cancella" type="submit" name="cancella" value="Cancella paziente" />
                {% endif %}
            </div>
        </form>
    {% else %}
        {{ testo }}
    {% endif %}
{% endblock %}
