{% extends "cedial/gestione/gestione.html" %}

{% block pagina %}
    {% if azione == 'nuovo' %}
        <div class="titolo">Nuovo test</div>
    {% else %}
        <div class="titolo">Test {{ test.nome }}</div>
    {% endif %}

    {% if testo == '' %}
        <form action="" method="post">{% csrf_token %}
            {% for field in form %}
                <div class='linea'>
                    <div class='label'>{{ field.label_tag }}</div>
                    <div class='input'>{{ field }}
                        <div class='error'>{{ field.errors }}</div>
                    </div>
                </div>
                <br/>
            {% endfor %}

            <div class="barra_pulsanti">
                {% if azione == 'nuovo' %}
                    <input class="button" type="submit" value="Crea test" />
                {% else %}
                    <input class="button" type="submit" name="modifica" value="Modifica test" />
                    <input class="button cancella" type="submit" name="cancella" value="Cancella test" />
                {% endif %}
            </div>
        </form>
    {% else %}
        <p>{{ testo }}</p>
        <form action="/gestione/punti/modifica/{{ test.id }}/" method="get">{% csrf_token %}
            <div class="barra_pulsanti">
                <input class="button" type="submit" value="Modifica punti" />
            </div>
        </form>
    {% endif %}
{% endblock %}
