{% extends "cedial/gestione/gestione.html" %}

{% block pagina %}
    {% if azione == 'nuovo' %}
        <div class="titolo">Nuovo utente</div>
    {% else %}
        <div class="titolo">Utente {{ utente_form.username }}</div>
    {% endif %}

    {% if testo == '' %}
        <form action="" method="post">{% csrf_token %}
            {% for field in form %}
                <div class='linea'>
                    <div class='label'>{{ field.label_tag }}</div>
                    <div class='input'>{{ field }}
                        <div class='error'>{{ field.errors }}</div>
                    </div>
                </div>
                <br/>
            {% endfor %}

            <div class="barra_pulsanti">
                {% if azione == 'nuovo' %}
                    <input class="button" type="submit" value="Crea utente" />
                {% else %}
                    <input class="button" type="submit" name="modifica" value="Modifica utente" />
                    <input class="button" type="submit" name="password" value="Cambia password" />
                    <input class="button cancella" type="submit" name="cancella" value="Cancella utente" />
                {% endif %}
            </div>
        </form>
    {% else %}
        {{ testo }}
    {% endif %}
{% endblock %}
