<div class="titolo_pannello">
    Data: {{ data }}<br/>
</div>
<hr/>
<nav class="menu_pannello">
    <a href="/presentazione/entrata/">Entrata paziente</a>
    <a href="/presentazione/uscita/">Uscita paziente</a>
    <a href="/presentazione/cibo/">Somministrazione cibo</a>
    <a href="/presentazione/pazienti/">Elenco pazienti</a>
    <a href="/presentazione/presenti/">Pazienti presenti</a>
    <a href="/presentazione/assenti/">Pazienti assenti</a>
</nav>
<hr/>
<div class="titolo_pannello">
    Attivi&agrave; in scadenza
</div>
